<div class="container" id="login-block">
    		<div class="row">
			    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
			    	 
			       <div class="login-box clearfix animated flipInY">
			       		<div class="page-icon animated bounceInDown">
			       			<img src="img/coinbase-logo.png" alt="Key icon">
			       		</div>
			        	
			        	<hr>
			        	<div class="login-form">
			        		<!-- Start Error box -->
			        		 <!-- End Error box -->
			        		
						   		  <div class="text-center">
						   		 <a class="btn btn-lg btn-primary ">Connect with Coinbase</a> 
							    </div>
							<div class="login-links"> 
					            
					            <br>
					            <a href="sign-up.html?login-theme-3">
					              Don't have an account? <strong>Sign Up</strong>
					            </a>
							</div>      		
			        	</div> 			        	
			       </div>
			        
			       <!-- Start Social connect buttons box --> 
			       
			       <!-- <div class="social-login row">
			        		<div class="fb-login col-lg-6 col-md-12 animated flipInX">
			        			<a href="#" class="btn btn-facebook btn-block">Connect with <strong>Facebook</strong></a>
			        		</div>
			        		<div class="twit-login col-lg-6 col-md-12 animated flipInX">
			        			<a href="#" class="btn btn-twitter btn-block">Connect with <strong>Twitter</strong></a>
			        		</div>
			        </div> -->
			        
			        <!-- End Social connect buttons box -->
			        
			    </div>
			</div>
    	</div>